body {
    --gray-l: #dbdbdd;
    --gray-m: #9c8e8e;
    --blue: #524ba3;
    --gray-h: #1f1e23;
    --green: #6a9254;
    --yellow: #dcac6c;
    --red: #e55656;
    --brown: #73493c;
    font-family: "Source Code Pro", serif;
    background-color: var(--gray-h);
    color: var(--gray-l);
    font-size: 1.2em;
    line-height: 1.6em;
    padding: 0.6em;
    width: 100%;
    max-width: 38em;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.lighter {
    color: var(--gray-m);
}

a {
    border-bottom: 0.3em ridge var(--green);
    border-radius: 0px 0px 6px 6px;
    color: inherit;
    text-decoration: none;
}

a:hover {
    color:var(--green);
}

hr {
    border-bottom: 10px ridge var(--red);
    border-radius: 6px 6px 6px 6px;
}

ul {
    padding: 0;
    margin:0;
    list-style: none;
}

li {
    padding-left: 1em;
    padding-bottom: 1em;
    line-height: 1.4em;
}

h2.underline {
    text-align: left;
    border-bottom: 0.3em ridge var(--blue);
    border-radius: 6px 6px 6px 6px;
}

h3 {
    color: var(--yellow);
}
